{% extends 'base.html.twig' %}
{% block body %}
    <h3> {{ parentStringResource.value }}
        {{ form_start(deleteForm) }}
        {{ form_errors(deleteForm) }}
        {{ form_end(deleteForm) }}
    </h3>

    {{ form_start(newForm) }}
    {{ form_errors(newForm) }}

    {{ form_row(newForm.lang) }}
    {{ form_row(newForm.value) }}
    {{ form_end(newForm) }}


    <ul id="navigation">
        {% for value in parentStringResource.strings %}
            <li>{{ value.lang }}:{{ value.value }}</li>
        {% endfor %}
    </ul>
{% endblock %}

